@font-face {
    font-family: 'Khmer';
    src: url('../fonts/KhmerUI.eot');
    src: url('../fonts/KhmerUI.eot') format('embedded-opentype'),
    url('../fonts/KhmerUI.woff2') format('woff2'),
    url('../fonts/KhmerUI.woff') format('woff'),
    url('../fonts/KhmerUI.ttf') format('truetype'),
    url('../fonts/KhmerUI.svg#KhmerUI') format('svg');
}
