
#wrapper.faded-in {
    opacity: 1;
}

.transition-fade-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.transition-fade-leave {
    opacity: 1;
}

.transition-fade-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}